#video{
display: none;
}
.page2-king{
display: flex;
 position: relative;
  align-items: center;
   justify-content: center;
   margin-top: 70%;
   }
   button{
   width: 20vh;
   height: 8vh;
   color: #fff;
   background-color: #2852efd2;
   border: none;
   outline: none;
   font-weight: 300;
